.bg-nav{
    background-color: #2C3E50;
    color: white;
}
.white{
    color: white;
}
.my-font{
  font-size: 30px;
}
.my-font2{
    font-size: 20px;
    text-transform: uppercase;
}
.bg-lightgreen{
    background-color: #1ABC9C;
}
.bar-w{
    height: 4px;
    width: 100px;
    background-color: white;
    border-radius: 2px;
}
.bar-black{
    height: 4px;
    width: 100px;
    background-color: black;
    border-radius: 2px;
}
.bg-white{
    background-color: white
}
.black{
    color: black;
}
.bg-lightdark{
    background-color: #3A546D;
}
.link {
    text-decoration: none;
    color: #19BF9D;
}
.fa-brands{
    height: 38px;
    width: 38px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;

}
.bg-dark{
    background-color: #2C3E50;
}
.my-font3{
    font-size: 0.6em;
}

@media screen and (min-width) {
    .container-sm{

    }
}